<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <display-name>LoginExample</display-name>
  <servlet>
    <display-name>ProfLoginServlet</display-name>
    <servlet-name>ProfLoginServlet</servlet-name>
    <servlet-class>loginpac.ProfLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfLoginServlet</servlet-name>
    <url-pattern>/ProfLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>loginpac.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>makeRequest</display-name>
    <servlet-name>makeRequest</servlet-name>
    <servlet-class>loginpac.RequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makeRequest</servlet-name>
    <url-pattern>/makeRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StudentInfoUpdate</display-name>
    <servlet-name>StudentInfoUpdate</servlet-name>
    <servlet-class>loginpac.InfoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfoUpdate</servlet-name>
    <url-pattern>/addInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>loginpac.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StudentHandler</display-name>
    <servlet-name>StudentHandler</servlet-name>
    <servlet-class>loginpac.StudentHandlingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentHandler</servlet-name>
    <url-pattern>/SInfoUpdates</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentHandler</servlet-name>
    <url-pattern>/SCourseUpdates</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentHandler</servlet-name>
    <url-pattern>/RequestUpdates</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentHandler</servlet-name>
    <url-pattern>/StudentViewEligibility</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StudentReturn</display-name>
    <servlet-name>StudentReturn</servlet-name>
    <servlet-class>loginpac.StudentReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentReturn</servlet-name>
    <url-pattern>/StudentReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CourseTaken</display-name>
    <servlet-name>CourseTaken</servlet-name>
    <servlet-class>loginpac.StudentCourseTakenUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseTaken</servlet-name>
    <url-pattern>/addCourseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>loginpac.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfHandling</display-name>
    <servlet-name>ProfHandling</servlet-name>
    <servlet-class>loginpac.ProfessorHandlingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfHandling</servlet-name>
    <url-pattern>/ProfAddCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfHandling</servlet-name>
    <url-pattern>/ProfCourseUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfHandling</servlet-name>
    <url-pattern>/ProfCourseView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfHandling</servlet-name>
    <url-pattern>/ProfPrereq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfHandling</servlet-name>
    <url-pattern>/ProfViewEligibility</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfCourseInsert</display-name>
    <servlet-name>ProfCourseInsert</servlet-name>
    <servlet-class>loginpac.ProfCourseInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfCourseInsert</servlet-name>
    <url-pattern>/InsertProfCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfCourseInfo</display-name>
    <servlet-name>ProfCourseInfo</servlet-name>
    <servlet-class>loginpac.ProfAddMeetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfCourseInfo</servlet-name>
    <url-pattern>/ProfCourseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfReturn</display-name>
    <servlet-name>ProfReturn</servlet-name>
    <servlet-class>loginpac.ProfReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfReturn</servlet-name>
    <url-pattern>/ProfReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfSPN</display-name>
    <servlet-name>ProfSPN</servlet-name>
    <servlet-class>loginpac.ProfSPNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfSPN</servlet-name>
    <url-pattern>/ProfApprove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfSPN</servlet-name>
    <url-pattern>/ProfDeny</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfSPN</servlet-name>
    <url-pattern>/ProfComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EnterComment</display-name>
    <servlet-name>EnterComment</servlet-name>
    <servlet-class>loginpac.EnterCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterComment</servlet-name>
    <url-pattern>/EnterComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProcessComment</display-name>
    <servlet-name>ProcessComment</servlet-name>
    <servlet-class>loginpac.EnterCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessComment</servlet-name>
    <url-pattern>/ProcessComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfPrereqInsert</display-name>
    <servlet-name>ProfPrereqInsert</servlet-name>
    <servlet-class>loginpac.ProfPrereqInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfPrereqInsert</servlet-name>
    <url-pattern>/ProfPrereqInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminData</display-name>
    <servlet-name>AdminData</servlet-name>
    <servlet-class>loginpac.AdminInsertDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminData</servlet-name>
    <url-pattern>/LargeData</url-pattern>
  </servlet-mapping>
</web-app>